<h1>Plannings#new</h1>
<p>Find me in app/views/plannings/new.html.erb</p>


<!-- <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> -->


<%#= simple_form_for :planning, url: plannings_path, method: :post do |f| %>
  <%# Booking.slots.each do |slot, num| %>
    <%#= f.input "#slot#{num}".to_sym, collection: Speaker.all.map(&:last_name), as: :radio_buttons %>
    <br>
  <%# end %>
  <%#= f.submit 'Create Planning' %>
<%# end %>


<h1>New Project</h1>
<%= simple_form_for Planning.new do |f| %>
  <% Booking.slots.each do |slot, position| %>
    <%= f.simple_fields_for :bookings, Booking.new do |booking| %>
      <%= booking.input :speaker_id, collection: Speaker.all, as: :radio_buttons %>
      <%= booking.input :slot, input_html: { value: position } %>
    <% end %>
  <% end %>
  <%= f.submit 'Create Project' %>
<% end %>





